/* --- إعدادات عامة --- */
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  max-width: 100%;
  overflow-x: hidden;
}

/* iframe container */
.iframe-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 10px;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  transform: scale(1.2);
  transform-origin: top center;
}

/* --- موبايل --- */
@media screen and (max-width: 768px) {

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
  }

  .menu a {
    background: #334155;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  section {
    padding: 10px;
    margin-top: 10px;
  }

  iframe {
    height: 300px;
  }

  .iframe-container {
    height: 100vh;
  }

  .iframe-container iframe {
    transform: scale(1.4);
  }

  p, .dua {
    font-size: 1.1rem;
    padding: 15px;
    background: #334155;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}
